<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cool clothes - <%= it.color %> <%= it.product %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./static/css/complete.css">
    <link rel="icon" type="image/png" href="./static/images/favicon.png">
    <style>
        body {
            background: #b4ffb5;
        }
        h5 {
          text-transform: capitalize;
        }
        img {
            width: 80%;
        }
    </style>
</head>
<body>
<script type="module">
  import { initTurtledove, InterestGroup } from '<%= it.turtledoveHost %>/turtledove.js'
  import { saveViewedProduct } from './static/js/retargeting.js'

  const offersInInterestGroup = 4
  const defaultOffers = ['red-caps', 'blue-caps', 'red-scarfs', 'blue-scarfs']

  function processOffers(offers) {
    function isFirstOccurence(value, index, self) {
      return self.indexOf(value) === index;
    }
    const uniq = offers.concat(defaultOffers).filter(isFirstOccurence)
    let selected = uniq.slice(0, offersInInterestGroup)
    let interestGroup = new InterestGroup(window.location.host, 'visitor', ['<%= it.adPartner %>'], selected)
    window.navigator.joinAdInterestGroup(interestGroup, 2592000)
  }

  initTurtledove({ logs: true, productLevel: true })

  let allViewed = saveViewedProduct('<%= it.color %>-<%= it.product %>')

  // processOffers implements last seen recommendation strategy. We inspect the history of items seen by the user.
  processOffers(allViewed)
</script>

<div class="container centered">
  <h3>Check out our <%= it.color %> <%= it.product %>!</h3>
    <div class="container">
        <h5><%= it.color %> <%= it.product %></h5>
        <img src="./static/images/<%= it.color %>-<%= it.product %>.svg" alt="<%= it.color %> <%= it.product %> image"><br>
    </div>
    <p>
    <h4>
      <a href="./<%= it.product %>">Return to listing</a>
    </h4>
    <h4>
      <a href="./">Return to main page</a>
    </h4>
    </p>
</div>
</body>
</html>
